*{margin: 0px;padding: 0px;/* background-color: white; */margin-bottom: 0;}
html {
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth !important;
}

.header {
    height: 46px;
    width: 100%;
    background-color: #000;
    position: relative;
    position: fixed;
    top:0;
    z-index: 1;
   
    
}
#nap li:hover .subnap {
    display: block;
}

#nap, .subnap {
    list-style-type: none;
}
#nap > li { 
    display: inline-block;
    position: relative;
    
}
#nap > li > a{
    color :#fff;
    text-transform: uppercase;
}

#nap li a {
    
    text-decoration: none;
    line-height: 46px;
    padding: 0px 24px;
    display: block;
    transition: 0.4s;
}

#nap .subnap li:hover a,
#nap > li:hover > a {
    background-color:#ccc;
}

#nap li .rieng {
    position:relative;
    min-width: 60px;
}
#nap  .subnap  {
    position:absolute;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    min-width: 160px;
   
    
}

#nap .subnap a{
    color: black;
    padding: 0px 16px;
    
    
}
#nap .subnap {
    display: none;
    
}
#icon2 {
    position: absolute;
    width: 62px;
    
    color: white;
    top: 0;
    right: 0;
   padding: 0px 24px;
   line-height: 46px;
   box-sizing: border-box;
   transition: 0.4s;


     
}
#icon2:hover {
    background-color: red;
    cursor: pointer;
}
#icon1 {
    position: absolute;
   
    top: 25%;
    left: 65%;
    color: white;
   
}
.text-while {
    color: white !important;
}



.slider {
    margin-top: 46px;
    width: 100%;
   padding-top: 50%;
    background: url(img/ny.jpg) top center / cover no-repeat;
color: white;


}
.tieudetong {
    width: 100%;
    text-align: center;

}
.tdnho {
    padding-bottom: 32px;
    margin-top: 35px;
    font-size: 15px;
}
.tieudeto{
    font-size: 24px;
}

.theband{
    width: 768px;
    margin-right:auto;
    margin-left: auto;
    padding-top :30px;
    
    margin-bottom: 100px;
    text-align:justify;
   
}
.t {
    text-align:center;
}
h1 {
    margin-top: 74px;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 25px;
}
#hello {
    font-size: 15px;
    font-style: italic;
    margin-bottom: 12px;
}
.c {
    font-size: 15px;
}
.picture {display: flex;
    justify-content: space-around;}

.anh {
    width:154px;
    border-radius: 4px;
    margin-bottom: 64px;
    
}
.ten {
    text-align:center;
    font-size: 15px;
    margin-bottom: 15px;
}
.box1 {
    margin-top: 62px;
}
    .nenden {
        background-color: black;
}
.thang {
    font-size: 15px;
    padding: 8px 16px;
    background-color: white;
    width: 768px;
    color:black;
    border : 1px solid #ddd;
    list-style: none;
    box-sizing: border-box;
}
.het {
    background-color: #f44336;
    margin-left: 16px;
    padding: 0px 8px;
    color: white;
}
.number {float: right;
width: 24px;
height: 24px;
color: white;
background-color: black;
border-radius: 50%;
text-align:center;
line-height: 24px;
margin-top: -2px;}

.place {
    width: 768px;
    margin : 0 auto;
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    
}
.the1 {width: 245px;
height: 387px;
background-color: white;
font-size: 15px;
margin-bottom: 112px;}
.the1 h3 {
    margin : 15px 0px;
}
.the1 .p2 {
    margin-bottom :15px ;
    color:#727272;
}
.the1 .p3 {
    margin-bottom: 24px;
}
.p4 {
    text-decoration: none;
    background-color: black;
    color: white;
    padding : 8px 16px;
    font-size: 15px;
    margin-bottom: 16px;
    transition: 0.4s;
}
.p4:hover {
    background-color: gray;
}


.city {
    width: 245px;}
    .city:hover {
        opacity: 0.60s;

    }

.chu {
    padding-left: 16px;
}
.dangki {
    width: 100%;
    top :0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    position: relative;
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    
}
.dangki.open {
    display: flex;
}
.boxthanhtoan {
    width: 900px;
    background-color: white;
   
    display: inline-block;
    max-width: calc( 100% - 32px );
  

}
h5 {
    font-size: 30px;
    display: inline-block;
    color: white;
    line-height: 126px;
    font-weight: 400;
    letter-spacing: 4px;
}

.nenxanh{
    height: 126px;
    background-color: #009688;
    position: relative;
   
    display: flex;
    justify-content: center;

}


.chu {
    padding-left:15px;
    padding-right: 15px;
   
}
.button {
    position: absolute;
    top:0;
    right:0;
    font-size: 24px;
    padding : 8px 16px;
    color :white;
    font-weight: 200;
    cursor: pointer;
    opacity: 0.8;
    transition: 0.2s;
}
.button:hover {
    opacity: 1;
}
    .button:hover {
        background-color: gray;
    }
    input {
        padding: 8px;
        border : 1px solid #ccc;
        width: 100%;
        margin: 15px 0px;
        font-size: 15px;
        box-sizing: border-box;
    }
   

   

 
 .sen {
    
     font-size: 15px;
 }
.email{

margin-top: 15px; 

font-size: 15px;
}
.pay{
    padding:16px ;
    width: 100%;
    margin-right: -10px;
    margin-top: 15px ;
    background-color: #009688;
    border: none;
    color:white;
    font-size: 15px;
    transition: 0.2s;
}
#pay {
    text-decoration: none;
    color: white;
    
}
.pay:hover {
    background-color: gray;
}
.support{
margin : 30px 0px;
float:right;
}
.bothcontact {
    margin-top: 47px;
    display: flex;
    columns: row;
   margin-bottom: 47px;
}
.contactifor i {
    width: 30px;
    margin-bottom: 12px;
}
.contactifor
{
    width: 50%;
    font-size: 18px;
    
}
.inputcontact {
    width: 50%;

}
#name {
    width: 48%;

}
#email {
    width: 48%;
    float: right;
}
#message {
    margin-top:-10px;
}
#send {
    background-color: #000;
    padding:8px 16px;
    font-size: 15px;
    color: white;
    border: none;
    font-weight: 500;
    float:right;
    cursor: pointer;
}
#send:hover {
    background-color: #ccc;
    color: black;
}
#on {
    width: 100%;
    filter: grayscale(50%);
    position: relative;
    z-index: 0;
}
.footer  {
text-align:center;
font-size: 20px;
opacity: 0.6;
padding : 64px 16px;
}
.footer p {
    font-size: 15px;
    margin: 15px 0px;
   
}
.footer p a {
    color: black;
}
#menusub {
    position: fixed;
    z-index: 5;
    font-size: 20px;
    line-height: 46px;
    right: 0px;
    padding : 0px 15px;
    color: cornsilk;
    display: none;
}
.background {
    position: fixed;
    top: 0;
    right: 0;
    left:0;
    bottom:0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 3;
    display: none;
}
#nap2{
       position: fixed;
       z-index: 4;
       top: 46px;
       height: 190px;
       right: 0;
       display: none;
       width:100%;
       background-color: black;
}
#nap2 li {
    padding : 0 24px;
    line-height: 46px;
    
}
#nap2 a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    
}
#home1 {
    z-index: 5;
    
}


#openq {
    display: none;
}
#openq:checked ~ #nap2 {
    display: block;
}
#openq:checked ~ label .background {
    display: block;
}

@media (max-width:1024px ) and (min-width:740px){
    .theband{
        width: 95%;
    }
    .nenden {
        width: 100%;
    }
    .thang  {
        width: 100%;
    }
    .place{
        width: 100%;
        justify-content: space-around;
    }
    .the1 {width: 30%;
}
    .city {
        width: 100%;
    }
    .p4 { 
        padding: 12px 18px;
    }
    .footer{
        font-size: 48px;
    }
    .footer p a {
        padding: 15px 0px;
    }
}
@media (max-width :739px) {
    .footer p a {
        padding: 15px 0px;
    }
    .footer{
        font-size: 48px;
    }
    .p4 { 
        padding: 15px 21px;
    }
    
    .theband{
        width: 95%;
    }
    .nenden {
        width: 100%;
    }
    .thang  {
        width: 100%;}
    .picture{
        flex-direction: column;
    }
    .anh {
        width: 60%;
        margin-bottom: 20px;
    }
    .box1{
        margin-top: 15px;
        text-align: center;
    }
    .place{
        width: 95%;
        flex-direction: column;
    }
    .the1{
        width: 100%;
        height: 100%;
        margin-bottom: 25px;
        
    }
    .the1:last-child {
        margin-bottom: 112px;
    }
    .city{
        width: 100%;
    }
    .bothcontact{
        display: flex;
        flex-direction: column;
    }
    .contactifor{
        width: 95%;
    }
    .inputcontact {
        width: 95%;
    }
    #name{
        width: 100%;
        margin-bottom: 0px;
    }
    #email {
        width: 100%;
    }
    #message{
        margin-top: 0px;
    }
    #icon2{
        display: none;
    }
    #nap .hide {
        display: none;
    
    }
    #menusub {
        display: block;
    }
}